<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>
    <link rel="stylesheet" href="/css/detalhar.css">

<body>

    <%- include('includes/navbar') %>    

    <main id="containerGrid">
        <div id="gridGroup">
          <h3 style="margin-left: 5%;">Seus grupos</h3>
          <div id="scrollGroup">
            <% if (grupos) { %>
              <% grupos.map(item=> { %>
                <a href="/grupos/<%= item.grupoid %>/1">
                  <div id="alignCenter" style="margin-top: 30px; cursor: pointer;">
                    <div style="margin-left: 5%; background-image: url('<%- item.imagem %>');"
                      class="imageGroup-<% item.id %>" id="imageGroup">
                    </div>
                    <!-- <p><%= item.nome %></p> -->
                  </div>
                </a>
            <% }); %>
            <% } %>
          </div>
          <% if (grupo.admin === user.id) { %>
            <div onclick="document.getElementById('id02').style.display='block'" id="CreateGroup">Editar Grupo</div>
            <form action="/grupos/<%= grupo.id %>/deleteGroup" method="post">
                <button type="submit" id="CreateGroup">Deletar Grupo</button>
            </form>
            <% } %>
          <div onclick="document.getElementById('id02').style.display='block'" id="CreateGroup">Criar Grupo</div>
        </div>
        <div id="gridChat">
            <p class="GroupName"><%= grupo.nome %></p>

            <div id="scrollMessagens">
                <% if(proxPaginas > page) { %>
                    <a href="<%= parseInt(page)+1 %>">Ver mais antigas</a>
                <% } %>
                <% if (mensagens.length > 0) { %>
                    <% mensagens.reverse().map(item=> { %>
                            <% if(user.id !== item.user) {  %>
                                <div class="mensageContainer">
                                    <!-- id = unico do html -->
                                    <!-- class = coleçao de itens no html -->
                                    <div class="MessagesIsntOwner">
                                        <div style="background-image: url('<%= item.imagem %>'); background-position: center; background-size: cover; border-radius: 50px; height: 65px; width: 65px;"></div>
                                        <p style="margin-top: 20px; margin-left:20px"><%= item.nome %> </p>
                                        <p class="time">  <%= item.data.getHours(); %>:<%= item.data.getMinutes(); %> - <%= item.data.getUTCDate(); %>/<%= item.data.getUTCMonth()+1 %>/<%= item.data.getFullYear(); %></p>
                                    </div>
                                    <p class="message"><%= item.texto %></p>
                                </div>
                            <% }; %>

                            <% if(user.id == item.user) {  %>
                                <div class="mensageContainer owner">
                                    <p class="message"><%= item.texto %></p>
                                    <div class="MessagesOwner">
                                        <p class="time">  <%= item.data.getHours(); %>:<%= item.data.getMinutes(); %> - <%= item.data.getUTCDate(); %>/<%= item.data.getUTCMonth()+1 %>/<%= item.data.getFullYear(); %></p>
                                    </div>
                                </div>
                            <% }; %>    
                    <% }); %>
                <% }  else { %>
                    <div class="noMessages">
                        <p align="center">Não foram postadas mensagens!</p>
                    </div>
                    <% } %>
                </div>
                <% if(page > 1) { %>
                    <a href="<%= parseInt(page)-1 %>">Ver mais novas</a>
                <% } %>
                <%  if(participantes.find(item => item.userid == user.id).tipo === 2 || participantes.find(item => item.userid == user.id).tipo === 1) { %>
                <form action="/grupos/<%= grupo.id %>/enviarMensagem" method="post" class="messageInputContainer">
                    <input id="input" name="mensagem" placeholder="Como você está se sentindo">
                    <button type="submit" style="bottom: 5px; right: 10px; align-items: center;">
                        <img src="/assets/Arrow-right.svg" style="height: 30px; width: 30px; cursor: pointer;">
                    </button>
                </form>
                <% } %>
        </div>
        <div id="gridParticipantes">
            <div id="scrollMembers">
            <% if (participantes) { %>
                <% if(participantes.filter(item => item.tipo == 1).length > 0) {%>
                    <h2>Admin</h2>
                <% } %>
                <% participantes.map(item => { %>
                    <% if(item.tipo == 1) { %>
                        <div id="alignCenter">
                            <div id="imageGroup" style="background-image: url('<%= item.imagem %>'); background-position: center; background-size: cover; border-radius: 50px; "></div>
                            <p><%= item.nome %></p>
                        </div>
                    <% } %>
                <% }) %>

                <% if(participantes.filter(item => item.tipo == 2).length > 0) {%>
                    <h2>Editores</h2>
                <% } %>
                <% participantes.map(item => { %>
                    <% if(item.tipo == 2) { %>
                        <div id="alignCenter">
                            <div id="imageGroup" style="background-image: url('<%= item.imagem %>'); background-position: center; background-size: cover; border-radius: 50px; "></div>
                            <p><%= item.nome %></p>
                            <% if(grupo.admin == user.id) { %>
                                <form action="/grupos/<%= grupo.id %>/removeMember" method="post">
                                    <button class="buttonRemove" name="userId" value="<%= item.userid %>" type="submit">X</button>
                                </form>
                                <% } %>
                        </div>
                    <% } %>
                <% }) %>

                <% if(participantes.filter(item => item.tipo == 3).length > 0) {%>
                    <h2>Viewers</h2>
                <% } %>
                <% participantes.map(item => { %>
                    <% if(item.tipo == 3) { %>
                        <div id="alignCenter">
                            <div id="imageGroup" style="background-image: url('<%= item.imagem %>'); background-position: center; background-size: cover; border-radius: 50px; "></div>
                            <p><%= item.nome %></p>
                            <% if(grupo.admin == user.id) { %>
                                <form action="/grupos/<%= grupo.id %>/removeMember" method="post">
                                    <button class="buttonRemove" name="userId" value="<%= item.userid %>" type="submit">X</button>
                                </form>
                                <% } %>
                        </div>
                    <% } %>
                <% }) %>
            <% } %>
            </div>
            <% if (grupo.admin === user.id) { %>
                <div onclick="document.getElementById('id01').style.display='block'" id="CreateGroup">Adicionar membro</div>
            <% } %>
            <% if (grupo.admin !== user.id) { %>
                <form action="/grupos/<%= grupo.id %>/exitGroup" method="post">
                <button id="CreateGroup" name="userId" value="<%= user.id %>" type="submit">Sair do Grupo</button>
            <% } %>
        </div>
        <%- include('includes/modalGroup') %>
        <%- include('includes/modalAddMember') %>   
      </main>

      <script>
        var objDiv = document.getElementById("scrollMessagens");
        objDiv.scrollTop = objDiv.scrollHeight;
      </script>
</body>
</html>