<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>
    <link rel="stylesheet" href="/css/detalhar.css">

<body>

    <%- include('includes/navbar') %>    

    <main id="containerGrid">
        <div id="gridGroup">
          <h2 style="margin-left: 5%;">Seus grupos</h2>
          <div>
            <% if (grupos) { %>
              <% grupos.map(item=> { %>
                <a href="/grupos/<%= item.grupoid %>/1">
                  <div style="margin-top: 30px; cursor: pointer;">
                    <div style="margin-left: 5%; background-image: url('<%- item.imagem %>');"
                      class="imageGroup-<% item.id %>" id="imageGroup">
                      <p style="margin-left: 100px; margin-top: 30px; position: absolute; align-self: center;""><%= item.nome %></p>
                    </div>
                  </div>
                </a>
            <% }); %>
            <% } %>
          </div>
        </div>
        <div id="gridChat">
            <p><%= grupo.nome %></p>
            <!-- <img src="/assets/chatIcon.svg" style="height: 292px; width: 288px;"> -->
            <!-- <p style="margin-top: 30px; font-size: 1.2rem;">Escolha um grupo para conversar, ou crie um novo!</p> -->
            <% if (mensagens) { %>
                <% mensagens.map(item=> { %>
                    <div>
                        <div style="background-image: url('<%= item.imagem %>'); background-position: center; background-size: cover; border-radius: 50px; height: 80px; width: 80px;"></div>
                        <p><%= item.nome %></p>
                        <p><%= item.texto %></p>
                        <p><%= item.data %></p>
                    </div>
                <% }); %>
            <% } %>
        </div>
        <div id="gridParticipantes">
            <% if (participantes) { %>
                <% if(participantes.filter(item => item.tipo == 1).length > 0) {%>
                    <h2>Admin</h2>
                <% } %>
                <% participantes.map(item => { %>
                    <% if(item.tipo == 1) { %>
                        <div>
                            <div style="background-image: url('<%= item.imagem %>'); background-position: center; background-size: cover; border-radius: 50px; height: 80px; width: 80px;"></div>
                            <p><%= item.nome %></p>
                        </div>
                    <% } %>
                <% }) %>

                <% if(participantes.filter(item => item.tipo == 2).length > 0) {%>
                    <h2>Editores</h2>
                <% } %>
                <% participantes.map(item => { %>
                    <% if(item.tipo == 2) { %>
                        <div>
                            <div style="background-image: url('<%= item.imagem %>'); background-position: center; background-size: cover; border-radius: 50px; height: 80px; width: 80px;"></div>
                            <p><%= item.nome %></p>
                        </div>
                    <% } %>
                <% }) %>

                <% if(participantes.filter(item => item.tipo == 3).length > 0) {%>
                    <h2>Viewers</h2>
                <% } %>
                <% participantes.map(item => { %>
                    <% if(item.tipo == 3) { %>
                        <div>
                            <div style="background-image: url('<%= item.imagem %>'); background-position: center; background-size: cover; border-radius: 50px; height: 80px; width: 80px;"></div>
                            <p><%= item.nome %></p>
                        </div>
                    <% } %>
                <% }) %>
            <% } %>
        </div>
      </main>
</body>
</html>